{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

{{ form.non_field_errors }}
<div class="container">
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            {{ form.title.errors }}
            <label for="{{form.title.id_for_label }}" class="col-sm-2">Course Title</label>
            <div class="col-sm-8">
             {{ form.title|add_class:"form-control"}}
            </div>
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}" class="col-sm-2">Course Description</label>
            <div class="col-sm-8">
                {{ form.description|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            <label  class="col-sm-2">Course Duration</label>
            <div class="col-sm-8">
                {{ form.duration }}
            </div>
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.instructor.id_for_label }}" class="col-sm-2">Instructor</label>
            <div class="col-sm-8">
                {{ form.instructor|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.art.id_for_label }}" class="col-sm-2">Course Art</label>
            <div class="col-sm-8">
                {{ form.art|add_class:"class=btn btn-info" }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="save btn btn-info">Save</button>
            </div>
        </div>

    </form>
</div>


{% endblock %}
