{% extends "base.html" %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="row">
                <h1>{{ course.title }}</h1>
            </div>
            <div class="row">
                <h4>{{ course.description }}</h4>
            </div>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary pull-right" style="margin-top: 25px;" href="{% url 'courses:change' course.id %}">Change</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <img src="{{MEDIA_URL}}{{ course.art.url }}" width="150" height="150"/>
        </div>
        <div class="col-md-3">
            <ul class="pull-right">
                <li>Instructor: {{ course.instructor }}</li>
                <li>Duration: {{ course.duration }} weeks</li>
            </ul>
        </div>
    </div>
</div>




{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% endblock %}
