{% extends "base.html" %}
{% block content %}
{% if course_list %}
<div>
    <div class="col-md-5 col-md-offset-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td width="50%">Course Title</td>
                    <td width="30%">Instructor</td>
                    <td width="20%">Duration</td>
                </tr>
            </thead>
            <tbody>
                {% for course in course_list %}
                <tr>
                    <td width="50%"><a href="{% url 'courses:detail' course.id %}">{{ course.title }}</a></td>
                    <td width="30%">{{ course.instructor }}</td>
                    <td width="20%">{{ course.duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <div class="alert alert-warning" role="alert">No courses were found.</div>
{% endif %}
{% endblock %}

