{% extends "base.html" %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="row">
                <p>First Name: {{ instructor.first_name }}</p>
            </div>
            <div class="row">
                <p>Last Name:  {{ instructor.last_name }}</p>
            </div>
            <div class="row">
                <p>Email:      {{ instructor.email }}</p>
            </div>
            <div class="row">
                <p>Phone:      {{ instructor.phone }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        {% if courses %}
        <div>
            <div class="col-md-5 col-md-offset-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td width="50%">Course Title</td>
                            <td width="20%">Duration</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td width="50%"><a href="{% url 'courses:detail' course.id %}">{{ course.title }}</a></td>
                            <td width="20%">{{ course.duration }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">No courses assigned to this instructor.</div>
        {% endif %}
    </div>
</div>




{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% endblock %}