{% extends "base.html" %}
{% block content %}
{% if instructor_list %}
<div>
    <div class="col-md-5 col-md-offset-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td width="33%">First Name</td>
                    <td width="33%">Last Name</td>
                    <td width="33%">Phone</td>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructor_list %}
                <tr>
                    <td width="33%"><a href="{% url 'courses:instdetail' instructor.id %}">{{ instructor.first_name }}</a></td>
                    <td width="33%"><a href="{% url 'courses:instdetail' instructor.id %}">{{ instructor.last_name }}</a></td>
                    <td width="33%">{{ instructor.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <div class="alert alert-warning" role="alert">No instructors were found.</div>
{% endif %}
{% endblock %}